.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 100%;
}

.mat-column-description {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading-spinner {
  margin: 20px auto;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

