<h1 mat-dialog-title>Select Service and Tenant</h1>
<mat-dialog-content>
  <mat-form-field appearance="fill" style="width:100%; margin-bottom: 16px;">
    <mat-label>Environment</mat-label>
    <mat-select [(ngModel)]="env" required>
      <mat-option *ngFor="let env of configData.envs" [value]="env.value">
        {{env.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width:100%; margin-bottom: 16px;">
    <mat-label>Services</mat-label>
    <mat-select [(ngModel)]="service" required>
      <mat-option *ngFor="let service of configData.services" [value]="service.value">
        {{service.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width:100%; margin-bottom: 16px;">
    <mat-label>Tenants</mat-label>
    <mat-select [(ngModel)]="tenant" required>
      <mat-option *ngFor="let tenant of configData.tenants" [value]="tenant.value">
        {{tenant.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="{env: env ,service: service, tenant: tenant}" [disabled]="!service || !tenant">OK</button>
</div>

<!--h2 mat-dialog-title>Add Feature Flag</h2>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Name for hoomans</mat-label>
    <input matInput [(ngModel)]="feature" name="feature" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>key for programs</mat-label>
    <input matInput [(ngModel)]="key" name="key" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description" name="description" />
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="testEnv" name="testEnv">
    in Test Environment ({{ testEnv ? 'on' : 'off' }})
  </mat-slide-toggle>
  <br />
  <mat-slide-toggle [(ngModel)]="prodEnv" name="prodEnv">
    in Production Environment ({{ prodEnv ? 'on' : 'off' }})
  </mat-slide-toggle>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">CANCEL</button>
  <button mat-raised-button color="primary" (click)="onAdd()">ADD FEATURE FLAG</button>
</div-->
