<p>Within Copilot select the properties file (application.properties, application.yaml) and translate it to csv using the following
prompt:
  <span>
    '''analyse the attached configuration file, from that create a csv with the following colums:
  <ul style="list-style-type:disc;" >
    <li>service</li>
    <li>property</li>
    <li>description</li>
    <li>type/range</li>
    <li>default</li>
    <li>Relevant constraints or denpendencies</li>
    <li>category</li>
    <li>remarks</li>
  </ul>
  the created file should be named "application-config.csv", use ";" as column seperator'''
</span>

  Then upload the csv file here.
</p>
<app-tool-bar (searchChange)="onSearchChange($event)" (parsedData)="uploadData($event)"></app-tool-bar>
<app-table [filterValue]="searchText" [uploadedData]="uploadedData"></app-table>
