<app-tool-bar (searchChange)="onSearchChange($event)"
              (envChange)="onEnvChange($event)"
              (serviceChange)="onServiceChange($event)"
              (tenantChange)="onTenantChange($event)"
              (parsedData)="uploadData($event)"></app-tool-bar>
<app-table [filterValue]="searchText"
           [serviceFilter]="service"
           [envFilter]="env"
           [tenantFilter]="tenant"
           [uploadedData]="uploadedData"
           (rowSelected)="onRowSelected($event)"></app-table>
@if(selectedRow) {
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="selectedTabIndex.set($event)">
    <mat-tab label="Edit Form">
      <app-editform [selectedRow]="selectedRow" (formSubmit)="onFormSubmit($event)"></app-editform>
    </mat-tab>
    <mat-tab label="YAML Editor">
      @defer (when selectedTabIndex() === 1){
        <app-yaml-editor
          [env]="selectedRow.config.env"
          [service]="selectedRow.config.service"
          [tenant]="selectedRow.config.tenant"
          [property]="selectedRow.property"
          [value]="selectedRow.value">
        </app-yaml-editor>
      }
    </mat-tab>
  </mat-tab-group>
}
