<div class="sidenav-header">
  <img [width]="profilePicSize()" [height]="profilePicSize()" src="favicon.svg" />
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>Your Channel</h2>
    <p>JDG</p>
  </div>
  <mat-nav-list>
    @for (item of menuItems(); track item) {
      <a mat-list-item
        class="menu-item"
        [routerLink]="item.route"
        routerLinkActive="selected-menu-item"
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        >
        <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"  matListItemIcon>{{item.icon}}</mat-icon>
        @if (!sidenavCollapsed()) {
          <span matListItemTitl>{{item.label}}</span>
        }
      </a>
    }
  </mat-nav-list>
</div>
