<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item href="/">Home</a>
      <a mat-list-item href="/mobileapp">Mobile App</a>
      <a mat-list-item href="/examples">Examples</a>
      <a mat-list-item href="/mario">Mario</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      Angular Playground
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <!--mat-icon class="mr-8">brightness_5</mat-icon-->
      <mat-slide-toggle
        [(ngModel)]="darkMode"
        class="mr-8"
        aria-label="Toggle dark mode"
      >
      </mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
