<mat-nav-list>
  <div class="logo">
    <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <lucide-icon [img]="Home"></lucide-icon>
    </a>
  </div>

  <a mat-list-item routerLink="/" routerLinkActive="active">
    <mat-icon svgIcon="dashboard-icon"></mat-icon>
  </a>
  <!--a mat-list-item routerLink="/editor" routerLinkActive="active">
    <lucide-angular [img]="Pencil"></lucide-angular>
  </a-->
  <a mat-list-item routerLink="/settings" routerLinkActive="active">
    <lucide-angular [img]="Settings"></lucide-angular>
  </a>
</mat-nav-list>
