<mat-nav-list>
  <div class="logo">
    <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <lucide-icon [img]="Home"></lucide-icon>
    </a>
  </div>

  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon svgIcon="dashboard-icon"></mat-icon>
  </a>
  <a mat-list-item routerLink="/equalizer" routerLinkActive="active">
    <mat-icon svgIcon="equalizer-icon"></mat-icon>
  </a>
  <a mat-list-item routerLink="/tune" routerLinkActive="active">
    <mat-icon svgIcon="tune-icon"></mat-icon>
  </a>
  <a mat-list-item routerLink="/chat" routerLinkActive="active">
    <mat-icon svgIcon="tune-icon"></mat-icon>
  </a>
  <a mat-list-item routerLink="/analysis" routerLinkActive="active">
    <mat-icon svgIcon="tune-icon"></mat-icon>
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="active">
    <lucide-angular [img]="Settings"></lucide-angular>
  </a>
</mat-nav-list>
