.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  line-height: 1;
}
